body{
    background-image: url("IMG/soccer.png"); 
     background-repeat: no-repeat;  
    background-attachment: fixed;
    background-size: 100% 100% !important;
    height: 100vh;
    } 
nav{
  margin-top: 4%; 
  } 
#bodycontent{
    border-style: dashed;
    border-color: black;
    margin-top: 4%; 
  }
